{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Норм такой документ</title>
    <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
</head>
<body>
    <div id="header">
        <h3 class="logo_phrase">Fuwa Fuwa Phrase</h3>
        <h2 class="main_headline">Словами можно сделать больше</h2>

    </div>

    <div id="center">
        <h1>Этот заголовок большой</h1>
        <h6>А этот еще не вырос блинб</h6>
        <p>А это текст ему ваще по кайфу</p>
        <b><a href="https://vk.com">сыыл</a></b>
        <a href="https://vk.com">сыыл</a><button href="">kaka</button>
    </div>
</body>
</html>