{% include 'main/layout.html' %}
{% load static %}

{% block 'links' %}
    <link rel="stylesheet" href="{% static 'main/css/main_page.css' %}">
{% endblock %}

{% block 'center' %}
    <div id="center_info_block">
        <h1>
            Настрой слова сам, <br>или же просто доверь все случайности!
        </h1>
    </div>

    <div id="center_info2_block">
        <h1>
            Я хочу видеть во фразе.. <br>
        </h1>
        
    </div>
    <div id="bottom_user_input_block">
        <form method="post", action={% url 'result_output' %}>
            {% csrf_token %}
            <label>Добавим что-то живое!</label>
            <input type="checkbox" name="checkboxes", id="is_alive", value="alive"><br>
            <fieldset>
                <legend>Род будет:</legend>

                <div>
                  <input type="radio" id="male" name="checkboxes" value="male" checked />
                  <label for="male">Мужской</label>
                </div>
              
                <div>
                  <input type="radio" id="fem" name="checkboxes" value="fem" />
                  <label for="fem">Женсикй</label>
                </div>
              
                <div>
                  <input type="radio" id="neut" name="checkboxes" value="neut" />
                  <label for="neut">Средний</label>
                </div>

                <div>
                    <input type="radio" id="neut" name="checkboxes" value="neut" />
                    <label for="neut">Средний</label>
                </div>

              </fieldset>
            <button type="submit">Сгенерировать</button>
        </form>
    </div>
{% endblock %}