{% include 'main/layout.html' %}
{% load static %}

{% block 'links' %}
    <link rel="stylesheet" href="{% static 'main/css/main_page.css' %}">
{% endblock %}

{% block 'center' %}
    <div id="center_info_block">
        <h1>
            Настрой слова сам, <br>или же просто доверь все случайности!
        </h1>
    </div>

    <div id="center_info2_block">
        <h1>
            А здесь будет всякий выбор слов наверное но <br> я не уврен хз как делать чекбок
        </h1>
        <form method="post", action={% url 'result_output' %}>
            {% csrf_token %}
            <input type="checkbox" name="checkboxes", id="is_alive", value="alive">
            <input type="checkbox" name="checkboxes", id="gender", value="male">
            <button type="submit">Сгенерировать</button>
        </form>
    </div>
{% endblock %}