* {
    margin: 0;
    padding: 0;
}

#header{
    color: black;
    background-color: rgb(140, 138, 231);
    height: 50px;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid silver;
}

#aside {
    background-color: black;
    color: beige;
    float: left;
    width: 150px;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

#center_headline_block {
    background-color: aliceblue;
    width: 950px;
    height: 50px;
    border-radius: 0px 0px 50vh 50vh;
    z-index: 4;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
}

.logo_phrase {
    position: relative;
    color: azure;
    font-family: 'Kanit', sans-serif;
    left: 40px;
    z-index: 5;
    top: 5px;
}

.main_headline {
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: 12px;
}


