* {
    margin: 0;
    padding: 0;
}
body {
    background: #dbdbdb;
}

#header {
    color: black;
    background-color: rgb(140, 138, 231);
    height: 50px;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid silver;
}

#aside {
    z-index: 1;
    color: rgb(3, 3, 3);
    background-color:rgb(243, 243, 243);
    float: left;
    border-radius: 5vh 5vh 5vh 5vh;
    border: 6px solid rgb(140, 138, 231);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    padding: 20px;
    height: 85%;
    position: fixed;
}

#center_headline_block {
    background-color: aliceblue;
    width: 950px;
    height: 50px;
    border-radius: 0px 0px 50vh 50vh;
    z-index: 4;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
}

@media screen and (max-width: 1465px){
    #center_headline_block {
        width: 400px;
    }
}

.logo_phrase {
    position: relative;
    color: azure;
    font-family: 'Kanit', sans-serif;
    margin-left: 40px;
    z-index: 5;
    top: 5px;
}

.logo_mini_phrase {
    display: none;
    position: relative;
    color: azure;
    font-family: 'Kanit', sans-serif;
    left: 40px;
    z-index: 5;
    top: 5px;
}

@media screen and (max-width: 900px){
    .logo_phrase {
        display: none;
    }

    .logo_mini_phrase {
        display: block;
    }
}

.main_headline {
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: 12px;
}

.main_page_link_button {
    padding: 11px 16px;
    margin-bottom: 15px;
    width: 150px;
    border: 1px solid rgb(166, 135, 201);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(166, 135, 201);
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}
.main_page_link_button:hover {
    background-color: rgb(255, 255, 255); /* Зеленый */
    color: rgb(166, 135, 201);
    transition: 0.2s;
  }

.github_button {
    padding: 11px 16px;
    width: 150px;
    border: 1px outset rgb(44, 44, 44);
    border-radius: 8px;
    color: rgb(238, 238, 238);
    background-color: rgb(49, 49, 49);
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}

.github_button:hover {
    background-color: #d3d3d3; /* Зеленый */
    color: rgb(44, 44, 44);
    transition: 0.2s;
  }


