h1, h4 {
    font-family: 'Manrope', sans-serif;
}

#center_info_block {
    margin-top: 20px;
    color: azure;
    margin-left: 210px;
    margin-right: 210px;
    float: left;
    z-index: 2;
    padding: 30px;
    padding-top: 10px;
    background-color: rgb(42, 127, 224);
    border-radius: 10px 50px 50px 50px;
}

#center_info2_block {
    margin-top: 168px;
    color: azure;
    margin-right: 130px;
    margin-left: 210px;
    float: right;
    z-index: 2;
    padding: 30px;
    padding-top: 10px;
    background-color: rgb(123, 196, 255);
    border-radius: 50px 50px 10px 50px;
}

@media screen and (max-width: 1556px){
    #center_info2_block {
        margin-top: 20px;
    }
}

#bottom_user_input_block {
    margin-bottom: 60px;
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    margin-right: 30px;
    margin-left: 210px;
    padding: 50px;
    border: 6px solid rgb(128, 101, 247);
    border-radius: 40px 40px 40px 40px;
    font-family: 'Manrope', sans-serif;
}

input[type="radio"]:checked+label { font-weight: bold; }